<?xml version="0.0" ?>
<robot name="model.urdf">
  <link name="baseLink">
    <contact>
      <friction_anchor/>
      <lateral_friction value="0.3"/>
      <rolling_friction value="0.0"/>
      <contact_cfm value="0.0"/>
      <contact_erp value="1.0"/>
    </contact>
    <inertial>
      <!-- Volume:  1.0103300500e-04 -->
      <mass> 0.1 </mass>
      <!-- Center of mass: -6.6484500000e-03  3.7968070000e-02 -1.8000000000e-07 -->
      <pose> -6.6484500000e-03  3.7968070000e-02 -1.8000000000e-07 0 0 0 </pose>
      <!-- Inertia matrix -->
      <inertia>
        <ixx>  3.1193489900e-04 </ixx>
        <ixy> -7.3550222524e-10 </ixy>
        <ixz>  4.4886322049e-10 </ixz>
        <iyy>  1.6351267588e-04 </iyy>
        <iyz>  5.1884035321e-10 </iyz>
        <izz>  3.1193385993e-04 </izz>
      </inertia>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="textured.dae" scale="1 1 1"/>
      </geometry>
      <material name="red">
        <color rgba="0.9 0.6 0.6 1."/>
      </material>
    </visual>
    <collision>
      <geometry>
    	 	<mesh filename="textured.dae" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>