<?xml version="1.0"?>
<robot name="table_model">

  <!-- Link for the table -->
  <link name="table_link">
    <visual>
      <!-- Reference to the Table.obj file -->
      <geometry>
        <mesh filename="Table.obj" scale="1 1 1"/>
      </geometry>
      <material name="gray">
        <color rgba="0.7 0.7 0.7 1"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <mesh filename="Table.obj" scale="1 1 1"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="10.0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>


</robot>
