<?xml version="0.0" ?>
<robot name="model.urdf">
  <link name="baseLink">
    <contact>
      <friction_anchor/>
      <lateral_friction value="0.3"/>
      <rolling_friction value="0.0"/>
      <contact_cfm value="0.0"/>
      <contact_erp value="1.0"/>
    </contact>
    <inertial>
      <!-- Volume:  1.8630775000e-05 -->
      <mass> 0.1 </mass>
      <!-- Center of mass:  1.5681500000e-03  9.0236250000e-02  1.6826100000e-03 -->
      <pose>  1.5681500000e-03  9.0236250000e-02  1.6826100000e-03 0 0 0 </pose>
      <!-- Inertia matrix -->
      <inertia>
        <ixx>  3.0536154884e-04 </ixx>
        <ixy>  1.2522077047e-07 </ixy>
        <ixz>  1.4170102961e-10 </ixz>
        <iyy>  5.1876516677e-05 </iyy>
        <iyz> -2.3690211491e-07 </iyz>
        <izz>  3.0543483403e-04 </izz>
      </inertia>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="textured.dae" scale="1 1 1"/>
      </geometry>
      <material name="red">
        <color rgba="0.9 0.6 0.6 1."/>
      </material>
    </visual>
    <collision>
      <geometry>
    	 	<mesh filename="textured.dae" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>